# ====================================================================
#  PSGC - Environment Configuration Example
#
#  To use, copy this file to '.env' (`cp .env.example .env`)
# ====================================================================


# -----------------------------------------
# APP ENVIRONMENT
# -----------------------------------------
ENVIRONMENT=local

# -----------------------------------------
# PSGC's own setting
# -----------------------------------------
HOST=0.0.0.0
PORT=8040

# -----------------------------------------
# REDIS CONFIGURATION
# -----------------------------------------
REDIS_URL=redis://redis:6379/0
SESSION_EXPIRE_SECONDS=1800

# -----------------------------------------
# MinIO CONFIGURATION
# -----------------------------------------

# Must be the externally reachable address used in presigned URLs (public IP, VPN IP, or LAN IP depending on access)
MINIO_ENDPOINT=<user_reachable_hostname>
#MINIO_ENDPOINT=minio

MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false

# -----------------------------------------
# MinIO WEBHOOK CONFIGURATION
# -----------------------------------------
MINIO_SERVER_URL=http://minio:9000
MINIO_NOTIFY_WEBHOOK_ENABLE_psgc=on
MINIO_NOTIFY_WEBHOOK_ENDPOINT_psgc=http://psgc:8040/webhooks/minio

# -----------------------------------------
# CONTROL MANAGER CONFIGURATION
# -----------------------------------------
# 'host.docker.internal' is a special DNS name that resolves to the host machine.
# This allows the PSGC container to call the Control Manager if it's running
# locally on your machine (e.g., via its own docker-compose).
CM_SERVICE_HOST=host.docker.internal
CM_SERVICE_PORT=8000

# -----------------------------------------
# SLURM CLIENT CONFIGURATION
# -----------------------------------------
SLURM_CLIENT_HOST=host.docker.internal
SLURM_CLIENT_PORT=8060

# -----------------------------------------
# KUBERNETES LOCAL DEV CONFIGURATION
# ----------------------------------------
# Run `grep "certificate-authority" ~/.kube/config` to see the path your config expects.
# Copy the directory part (e.g., /home/appuser/.minikube) here.
KUBE_CERT_MOUNT_PATH=/home/appuser/.minikube

# -----------------------------------------
# SCHEDULING REQUEST BATCH CONFIGURATION
# -----------------------------------------
# Enable to request batch scheduling from Control Manager. 
SCHEDULER_BATCHING_ENABLED=false
SCHEDULER_BATCH_MAX_SIZE=32
SCHEDULER_BATCH_MAX_WAIT_MS=1000

#------------------------------------------
# USE SCHEDULER EXTENDER IN K8S
#------------------------------------------
SCHED_WEBHOOK=false

# -----------------------------------------
# INTERNAL_API_KEY
# -----------------------------------------
INTERNAL_API_KEY=very_complex_api_key
