# ====================================================================
#  Digital Twin - Environment Configuration Example
#
#  To use, copy this file to '.env' (`cp .env.example .env`)
# ====================================================================

# -----------------------------------------
# APP ENVIRONMENT
# -----------------------------------------
ENVIRONMENT=local

# -----------------------------------------
# SERVICE CONFIGURATION
# -----------------------------------------
LOG_LEVEL="INFO"

# -----------------------------------------
# SERVICE HOST/PORT
# -----------------------------------------
DT_HOST=0.0.0.0
DT_PORT=8010

# -----------------------------------------
# DOWNSTREAM SERVICE LOCATIONS
# -----------------------------------------
# For local development, they can be 'localhost'.
SC_SERVICE=scheduler-controller-service
SC_PORT=8020

PROMQL_WRAPPER_SERVICE=promql-json-wrapper-service
PROMQL_WRAPPER_PORT=8050

# -----------------------------------------
# INFLUXDB CONFIGURATION
# -----------------------------------------
# Used for persisting historical snapshots of the Digital Twin state.
INFLUXDB_TOKEN=doF8g1P0eda1JARjnqC7Oz1GBNN0kwHo9mfWVSmmvCA9_B7nCpedmO3S4XAEv2YXSVB5J4W1mJOVA4QVS_PvuA==
INFLUXDB_URL=http://influx-dt:8086
INFLUXDB_BUCKET=cluster_snapshot
INFLUXDB_ORG=decice

INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=deciceadmin

# -----------------------------------------
# DIGITAL TWIN BEHAVIOR SETTINGS
# -----------------------------------------
# Whether to enable historical data persistence to InfluxDB
ENABLE_INFLUXDB_STORAGE=true

# Whether to auto-load or sync model state from disk or backup source
AUTO_LOAD_MODEL_ON_STARTUP=true

# Snapshot export interval in seconds (if periodic persistence is enabled)
SNAPSHOT_INTERVAL_SECONDS=60.0
